.dashboard .sidenav {

  display: inline-block;
  vertical-align: top;
  height: 100vh;
  padding: 5px;
  padding-top: 10px;
  position: fixed;
  background-color: #444f70;
  overflow-y: auto;

}

.dashboard .sidenav .menu {

  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;

}

a {

  color: #6f2cd3;

}

.dashboard .sidenav .menu a {

  padding: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: background-color 0.16s linear;
  -ms-transition: background-color 0.16s linear;
  transition: background-color 0.16s linear;

}

.dashboard .sidenav .menu a:hover {

  background-color: #383f53;
  -webkit-transition: background-color 0.16s linear;
  -ms-transition: background-color 0.16s linear;
  transition: background-color 0.16s linear;

}

.dashboard .sidenav .menu .logo {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;

}

.dashboard .container {

  padding: 40px 30px 20px 100px;

}

.dashboard .container .main {

  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  max-height: 80vh;
  overflow-y: auto;
  border: 2px solid #fff;

}

.dashboard .container .main .title {

  color: #444f70;
  font-size: 27px;
  margin: 0;
  margin-bottom: 14px;
  font-weight: bolder;

}

.dashboard .container .main h1 {

  font-size: 23px;
  color: #a9abac;
  font-weight: 200;

}

.dashboard .container .main .game-menu {

  display: inline-block;
  position: relative;
  width: 48%;
  height: 200px;
  vertical-align: middle;
  border-radius: 10px;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  color: #fff;
  -webkit-transition: background 0.16s linear;
  -ms-transition: background 0.16s linear;
  transition: background 0.16s linear;

}

.dashboard .container .main .game-menu:hover {

  background: linear-gradient(270deg, #5920ad, #64199e);
  -webkit-transition: background 0.16s linear;
  -ms-transition: background 0.16s linear;
  transition: background 0.16s linear;

}

.dashboard .container .main .game-menu h1 {

  color: #fff;
  font-size: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.profile-container {

  width: 60%;
  border-radius: 8px;
  padding: 20px;
  background-color: #a9abacb8;

}

.profile-container img {

  height: 150px;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;

}

.profile-container .userinfo {

  display: inline-block;
  vertical-align: top;
  margin-left: 20px;

}

.profile-container .userinfo .username {

  font-size: 26px !important;
  color: #444f70 !important;

}

.profile-container .userinfo .email {

  font-size: 18px !important;
  color: #444f70 !important;

}

.main .table {

  padding: 20px;
  border-radius: 8px;
  background-color: #a9abacb8;
  width: 60%;

}

.main .table .stats {

  border-collapse: collapse;
  width: 100%;

}

.main .table .stats tr {

  color: #444f70;

}

.main .table .stats .value {

  color: #8C2CD6;

}

.text-input {

  outline: none;
  border: none;
  border-bottom: 3px solid #a9abacb8;
  font-family: 'Google Sans',Arial,sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding-left: 4px;
  color: grey;
  margin-top: 7px;
  display: block;
  background-color: transparent;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

.text-input:focus {

  border-color: #a9abac;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

.submit-button {

  outline: none;
  border: none;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  color: #fff;
  font-family: 'Google Sans',Arial,sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 7px;
  display: block;

}

.fileContainer {

  overflow: hidden;
  position: relative;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  color: #fff;
  font-family: 'Google Sans',Arial,sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 7px;

}

.fileContainer input[type=file] {

  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;

}

.imageElement {

  width: 50px;
  height: 50px;
  display: block;
  margin-top: 12px;

}

.login {

  position: relative;
  width: 100vw;
  height: 100vh;

}

.login .container {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  padding: 11px 20px 11px 20px;

}

.login .container .title {

  font-size: 23px;
  color: #a9abac;
  font-weight: 200;
  text-align: center;
  margin: 0;

}

.login-image {

  display: inline-block;
  vertical-align: middle;
  width: 38%;

}

.login .container form {

  display: inline-block;
  vertical-align: middle;
  width: 60%;
  color: #a9abac;

}

.login .container .text-input {

  padding-left: 25px;
  background-position: 2px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: calc(100% - 25px);

}

.login .container .submit-button {

  width: 100%;
  margin-bottom: 7px;

}

.login .container a {

  font-size: 15px;
  color: #a9abac;

}

.usernameinput {

  background-image: url(../img/usericon.png);

}

.passwordinput {

  background-image: url(../img/passwordicon.png);

}

.emailinput {

  background-image: url(../img/emailicon.png);

}

.collection {

  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;

}

.collection .collection-name {

  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  width: 80%;
  display: inline-block;

}

.collection .delete-collection {

  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  width: 10%;
  display: inline-block;
  text-align: center;

}

.collection a:hover {

  background: linear-gradient(270deg, #5920ad, #64199e);

}

.collection-name-input {

  width: 40%;

}

.words {

  margin-top: 30px;

}

.word-element {

  padding: 17px 25px 17px 25px;
  background-color: #a9abac96;
  display: inline-block;
  margin-bottom: 20px;
  margin: 2px;

}

.word-element h1 {

  color: #444f70 !important;
  font-weight: 200 !important;
  font-size: 20px !important;
  margin: 0 0 7px 0;
  display: inline-block;

}

.word-element a {

  text-decoration: none;
  color: #444f70 !important;
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;

}

.add-btn {

  margin-top: 10px;
  background-color: #a9abac96;
  color: #444f70;
  outline: none;
  font-size: 20px;
  font-weight: 200;
  border: none;
  cursor: pointer;
  padding: 20px;
  -webkit-transition: background-color 0.16s linear;
  -ms-transition: background-color 0.16s linear;
  transition: background-color 0.16s linear;

}

.add-btn:hover:enabled {

  background-color: #a9abace6;
  -webkit-transition: background-color 0.16s linear;
  -ms-transition: background-color 0.16s linear;
  transition: background-color 0.16s linear;

}

.add-btn:hover:disabled {

  cursor: not-allowed;

}

.select {

  padding: 10px 20px 10px 10px;
  outline: none !important;
  border: 3px solid #6f2cd3;
  border-radius: 8px;
  font-family: 'Google Sans',Arial,sans-serif;
  font-size: 18px;
  color: #6f2cd3;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 12px 12px;

}

select {

  -moz-appearance: none;
  -webkit-appearance: none;

}

select::-ms-expand {

  display: none;

}

.game-code-admin {

  font-size: 42px !important;
  margin-bottom: 0;

}

.playersDiv {

  margin-top: 20px;

}

.playersDiv a {

  font-size: 20px;
  cursor: pointer;
  margin-bottom: 2px;
  text-decoration: none;
  color: #a9abac;
  -webkit-transition: color 0.16s linear;
  -ms-transition: color 0.16s linear;
  transition: color 0.16s linear;

}

.playersDiv a:hover {

  color: #6f2cd3;
  -webkit-transition: color 0.16s linear;
  -ms-transition: color 0.16s linear;
  transition: color 0.16s linear;

}

.game-code {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: none !important;
  -webkit-animation-fill-mode: none !important;

}

.nickname-div {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: none !important;
  -webkit-animation-fill-mode: none !important;

}

.waiting-div {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: none !important;
  -webkit-animation-fill-mode: none !important;

}

.nickname-div button {

  display: block;
  width: 100%;

}

.game-code button {

  display: block;
  width: 100%;

}

.code-input {

  display: inline-block;
  outline: none;
  color: #999999;
  font-size: 40px;
  border: none;
  border-bottom: 4px solid #a9abac;
  width: 80px;
  text-align: center;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

.code-input:focus {

  border-color: #6f2cd3;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

::placeholder {

  color: #a9abac;
  opacity: 1;

}

:-ms-input-placeholder {

  color: #a9abac;

}

::-ms-input-placeholder {

  color: #a9abac;

}

.input-seperator {

  display: inline-block;
  color: #a9abac;
  font-size: 40px;

}

.nickname-input {

  display: inline-block;
  outline: none;
  color: #999999;
  font-size: 40px;
  border: none;
  border-bottom: 4px solid #a9abac;
  width: 320px;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

.nickname-input:focus {

  border-color: #6f2cd3;
  -webkit-transition: border-color 0.16s linear;
  -ms-transition: border-color 0.16s linear;
  transition: border-color 0.16s linear;

}

.sk-cube-grid {

  width: 40px;
  height: 40px;
  margin: 100px auto;

}

.sk-cube-grid .sk-cube {

  width: 33%;
  height: 33%;
  background-color: #6f2cd3;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;

}

.sk-cube-grid .sk-cube1 {

  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

}

.sk-cube-grid .sk-cube2 {

  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {

  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;

}

.sk-cube-grid .sk-cube4 {

  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;

}

.sk-cube-grid .sk-cube5 {

  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

}

.sk-cube-grid .sk-cube6 {

  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;

}

.sk-cube-grid .sk-cube7 {

  -webkit-animation-delay: 0s;
  animation-delay: 0s;

}

.sk-cube-grid .sk-cube8 {

  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;

}

.sk-cube-grid .sk-cube9 {

  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;

}

.player-kicker {

  position: relative;

}

.player-kicker .kicker-tooltip {

  display: inline-block;
  opacity: 0;
  margin-left: 6px;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  padding: 3px 5px;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;

}

.player-kicker .kicker-tooltip::before {

  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 2px;
  display: inline-block;
  margin-left: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #8c2cd6 transparent transparent;

}

.player-kicker:hover .kicker-tooltip {

  opacity: 1;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;

}

.password-checker {

  border-radius: 5px;
  background-color: #fff;
  padding: 8px;
  background: #fff;
  position: absolute;
  opacity: 0;
  margin-top: -30px;
  margin-left: 65%;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;

}

.password-checker .weakness-checker {

  width: 100px;
  height: 15px;
  background-color: #ff0000;

}

.password-checker .weakness-checker .level {

  width: 0%;
  height: 100%;
  background-color: #10ff00;
  transition: width .3s;
  -webkit-transition: width .3s;

}

.team-div {

  display: inline-block;
  margin-right: 10px;
  vertical-align: top;

}

.team-div h1 {

  color: #6f2cd3 !important;
  font-size: 23px !important;

}

option:disabled {

  cursor: not-allowed;

}

@media screen and (max-width: 790px) {

  .dashboard .container .main {

    max-height: 74vh;

  }

  .dashboard .container .main .game-menu {

    width: 100%;

  }

  .main .table {

    width: 80%;

  }

  .profile-container {

    width: 80%;
    text-align: center;

  }

  .login-image {

    display: none;

  }

  .login .container form {

    width: 100%;

  }

  .collection-name-input {

    width: 100%;

  }

  .dashboard .container .main h1, .text-input, .submit-button, .fileContainer, .login .container .title, .add-btn {

    font-weight: 400;

  }

  .userinfo h1 {

    text-align: left;

  }

}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%, 70%, 100% {

    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);

  }

  35% {

    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);

  }

}

@keyframes sk-cubeGridScaleDelay {

  0%, 70%, 100% {

    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);

  }

  35% {

    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);

  }

}
